data/processed/*
!data/processed/notes.txt
!data/processed/splits/

data/raw/*
!data/raw/notes.txt

!src/models/*
!src/models/notes.txt


*.pt
*.pth
*.h5
*.pkl
*.jpg


__pycache__/

.ipynb_checkpoints/
.DS_Store