data/processed/*
!data/processed/notes.txt
!data/processed/splits/
!data/processed/splits/*.csv
!data/processed/splits/class_mapping.json

data/raw/*
!data/raw/notes.txt

src/models/*.pth
src/models/*.pt
src/models/*.h5